$minIphone: 500px;
$maxIphone: 690px;
$minTablet : $minIphone + 1;
$maxTablet : 1120px;

@mixin responsive($divice) {
    @if $divice == 'iphone' {
        @media screen and (min-width: $minIphone) and (max-width: $maxIphone){
            @content;
        }
    } @else if $divice == 'tablet' {
        @media screen and (min-width: $minTablet) and (max-width: $maxTablet){
            @content;
        }
    } @else if $divice == 'iphone-l' {
        @media screen and (min-width: $minIphone) and (max-width: $maxIphone) and (orientation: landscape){
            @content;
        }
    } @else if $divice == 'ipad-l' {
        @media screen and (min-width: $minTablet) and (max-width: $maxTablet) and (orientation: landscape){
            @content;
        }
    }
}