.grid {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 100px repeat(2, 200px) 100px;
    grid-template-areas: 
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer";
}
.header {
    background: burlywood;
    color: white;
    text-align: center;
    grid-area: header;
}
.content {
    background: rgb(246, 241, 132);
    color: white;
    text-align: center;
    grid-area: content;
}
.nav {
    background: rgb(164, 241, 116);
    color: white;
    text-align: center;
    grid-area: nav;
}
.footer {
    background: rgb(89, 226, 214);
    color: white;
    text-align: center;
    grid-area: footer;
}